<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-Z7vS2xvFrf8Yh6yOWOeq9SLyV3EyZc0lgGTyzT6L7K0f+8VoFVn8yyXXF55VG5dZ" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-402FCFEC-6642-4A32-9582-137EA5B8E4AA" crossorigin="anonymous">
    <style>
        .form-control::placeholder {
            color: #6c757d;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 2rem;
        }
        .form-title {
            text-align: center;
            margin-bottom: 1.5rem;
            color: blue;
        }
        .form-label {
            color: orangered;
            font-weight: 500;
            font-size: medium;
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container mt-5">
    <div class="card mx-auto" style="max-width:70%;">
        <div class="card-body">
            <h2 class="form-title text-start">Ajouter un Formateur</h2>
            <form method="post" enctype="multipart/form-data" th:action="@{/formateurs/save}">
                <div class="mb-3">
                    <label class="form-label">Nom :</label>
                    <input type="text" id="nom" class="form-control"  th:field="*{formateur.nom}" th:value="${formateur.nom}" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Prénom :</label>
                    <input type="text" id="prenom" class="form-control"  th:field="*{formateur.prenom}" th:value="${formateur.prenom}" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Adresse :</label>
                    <input type="text" id="adresse" class="form-control"  th:field="*{formateur.adresse}" th:value="${formateur.adresse}" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Numéro de téléphone :</label>
                    <input type="text" id="telephone" class="form-control"  th:field="*{formateur.telephone}" th:value="${formateur.telephone}" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email :</label>
                    <input type="email" id="email" class="form-control"  th:field="*{formateur.email}" th:value="${formateur.email}" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Photo :</label>
                    <input type="file" accept="image/*" name="file" class="form-control" />
                    <input type="hidden" name="nomImage" th:value="${formateur.nomImage}">
                </div>
                <div class="text-end">
                    <button type="submit" class="btn" style="color: white; background: blue">Ajouter</button>
                    <a th:href="@{/formateurs/liste-formateurs}" class="btn ms-2" style="color: white; background: orangered">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
