<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Formations</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d4101d2a3b.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container mt-5" style="max-width: 2200px; width: 90%;">
    <div class="mb-4">
        <h1 style="color: blue">Liste des Formations</h1>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <form th:action="@{/formations/liste-formations}" method="get" class="d-flex" style="width: 500px;">
            <div class="input-group">
                <input type="text" name="mc" class="form-control" placeholder="Rechercher par titre" />
                <button type="submit" style="background: blue; color: white" class="btn">Rechercher</button>
            </div>
        </form>
        <a th:href="@{/formations/ajouter}" class="btn" style="background: orangered; color:white">Ajouter une nouvelle formation</a>
    </div>

    <!-- Table des formations -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th style="color:orangered">Date</th>
                <th style="color:orangered">Titre</th>
                <th style="width:45%; color: orangered">Description</th>
                <th style="color:orangered">Ateliers</th>
                <th style="color:orangered">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="f : ${formations}">
                <td th:text="${#dates.format(f.dateFormation, 'EEEE, dd MMMM, yyyy').substring(0, 1).toUpperCase() + #dates.format(f.dateFormation, 'EEEE, dd MMMM, yyyy').substring(1)}"></td>
                <td th:text="${f.libelle}"></td>
                <td th:text="${f.description}"></td>
                <td>
                    <ul class="list">
                        <li th:each="atelier : ${f.ateliers}">
                            <span th:text="${atelier.titre}"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/formations/modifier-formation/{id}(id=${f.id})}" class="btn btn-sm"><i style="color:blue" class="far fa-edit"></i></a>
                    <a th:href="@{/formations/delete/{id}(id=${f.id})}" class="btn btn-sm" onclick="return confirm('Confirmer la suppression ?')"><i style="color:orangered" class="fas fa-trash"></i></a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(formations)}">
                <td colspan="5" class="text-center">Aucune formation trouvée.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-end mt-3">
        <ul class="pagination">
            <li class="page-item" th:each="i,c:${pages}">
                <a th:href="@{/formations/liste-formations(page=${c.count}, mc=${mc})}"
                   th:text="${c.count}"
                   th:classappend="${current==c.count-1} ? 'active' : ''"
                   class="page-link mx-1">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
